<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h1 id="welcomeMess">Welcome, {{username}}! Tell us more about you and your art 
      </h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <ul id="userTabs" class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="portfolio-link">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-link">Profile</a>
            </li>


          </ul>
        </div>
        <div class="col">
          <div class="text-right">
            <a class="btn btn-secondary btn-sm" href="/user/{{user.id}}" role="button">View Your Page</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body d-none" id="profile">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <div id="img-container">
            <div class="ratio img-responsive img-circle" style="background-image: url({{user.profilePicture}};">
            </div>
          </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-6 col-sm-12 col-12 topmargin">
          <h4 class="dark">Add A Profile Picture</h4>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">
                <span id="profilePicTemp">Choose file</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <h4 class="dark topmargin">Add A Short Bio</h4>
      <div class="form" id="moveSave2">
        <div class="form-group">
          <textarea class="form-control" id="shortBio" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="bioSave" data-toggle="modal" data-target="#bioModal">Save</button>

            <!-- Modal to alert upload of Bio-->
        <div class="modal" id="bioModal" role="dialog">
          <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                <h4 class="modal-title">Success!</h4>
              </div>
              <div class="modal-body">
                <p id="modalBody">You've successfully uploaded a bio for your portfolio.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" id="modalBtn" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="portfolio" class="card-body d-none">


      <div class="row mb40">
        <div class="col">
          <img class="card-img" src="{{user.portfolio_1}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_2}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_3}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_4}}" alt="Card image cap">
        </div>
      </div>
      <div class="input-group">
       
        <!-- Modal to alert waiting period for image upload -->
        <div class="modal" id="modalUpload" role="dialog">
          <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                {{!--
                <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                <h4 class="modal-title">Success!</h4>
              </div>
              <div class="modal-body">
                <p id="modalBody">
                  Please wait until image loads to upload next photo.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" id="modalBtn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
            </label>
          </div>
          <div class="card-body" id="portfolio">

          <div class="row" id="artFeed">

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- paint-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Painting" value="Painting">
              <a><img src="/../‫images/painting.jpg" class="card-img-top" alt="painting"></a>
              <h5 class="card-title">Painting</h5>
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- mixed media-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="mixedMedia" value="Mixed Media">
              <a><img src="/../‫images/mmed.jpg" class="card-img-top" alt="Mixed Media"></a>
              <h5 class="card-title">Mixed Media</h5>
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Drawing" value="Drawing">
              <a><img src="/../‫images/drawing.jpg" class="card-img-top" alt="drawing"></a>
              <h5 class="card-title">Drawing</h5>
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="watercolor" value="Watercolor">
              <a><img src="/../‫images/water.jpg" class="card-img-top" alt="water"></a>
              <h5 class="card-title">Water</h5>
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Ink" value="Ink">
              <a><img src="/../‫images/ink.jpg" class="card-img-top" alt="Ink"></a>
              <h5 class="card-title">Ink</h5>
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Graphite" value="Graphite">
              <a><img src="/../‫images/graph.jpg" class="card-img-top" alt="graphite"></a>
              <h5 class="card-title">Graphite</h5>
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Sculpture" value="Sculpture">
              <a><img src="/../‫images/sculpture.jpg" class="card-img-top" alt="Sculpture"></a>
              <h5 class="card-title">Sculpture</h5>
            </div>
          </label>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Printmaking" value="Printmaking">
              <a><img src="/../‫images/print.jpg" class="card-img-top" alt="print"></a>
              <h5 class="card-title">Print</h5>
            </div>
          </label>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
        </div>
      </div>

      <div class="row" id="moveSave">
        <div class="container">
          <form>
            <input name="image" id="image-input" accept="image/*" type= "file">
            <button type="submit">Submit</button> 
            </form>
          </div>
      </div>
    </div>
        </div>
      </div>
    </div>